#boss{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
}
#div1{
    width: 77vw;
    height: 20vh;
    background-color: orange;
    position: relative;
    left: 0.5vw;
    top: 0.5vh;
}
#div2{
    width: 19vw;
    height: 20vh;
    background-color: aquamarine;
    position: relative;
    left: 1.5vw;
    top: 0.5vh;
}
#div3{
    position: absolute;
    top: 24vh;
    left: 1vw;
    width: 60vw;
    height: 73vh;
    background-color: blue;
}
#div4{
    position: absolute;
    top: 24vh;
    right: 1vw;
    width: 36vw;
    height: 20vh;
    background-color: blueviolet;
}
#div5{
    position: absolute;
    top: 46vh;
    right: 12vw;
    width: 25vw;
    height: 20vh;
    background-color: brown;
}
#div6{
    position: absolute;
    top: 68vh;
    right: 12vw;
    width: 25vw;
    height: 29vh;
    background-color: chartreuse;
}
#div7{
    position: absolute;
    top: 46vh;
    right: 1vw;
    width: 10vw;
    height: 51vh;
    background-color: darkgray;
}
h1{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}